<a href="https://colab.research.google.com/github/banhdepchai/IS405.O11-BigData/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark
!pip install pyspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

import findspark
findspark.init()
findspark.find()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,472 kB]
Fetched 1,701 kB in 3s (567 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
14 packages can be upgraded. Run 'apt list --upgradable' to see them.
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

'/content/spark-3.5.0-bin-hadoop3'

In [ ]:
%cd /content/drive/MyDrive/Colab Notebooks/Big Data/Lab4

/content/drive/MyDrive/Colab Notebooks/Big Data/Lab4

In [ ]:
from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark = SparkSession \
       .builder \
       .appName("Lab4") \
       .getOrCreate()

spark

# Lab4: DataFrame và Spark SQL

## Bài tập 1: Tạo và thao tác với DataFrame từ JSON

a. Tạo DataFrame từ nội dung của file JSON

In [ ]:
df_people = spark.read.json("people.json")

b. Hiển thị nội dung của DataFrame ra stdout

In [ ]:
df_people.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

c.  In ra stdout cấu trúc của DataFrame theo dạng cây

In [ ]:
df_people.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

d. Chọn duy nhất một cột “name” để hiển thị

In [ ]:
df_people.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

e. Hiển thị toàn bộ các cột với tất cả giá trị của cột “age” tăng thêm 1

In [ ]:
df_people.select(df_people['name'], df_people['age'] + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     NULL|
|   Andy|       31|
| Justin|       20|
+-------+---------+

f. Lọc ra những người có tuổi lớn hơn 21

In [ ]:
df_people.filter(df_people['age'] > 21).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

g. Đếm số người theo từng độ tuổi

In [ ]:
df_people.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|NULL|    1|
|  30|    1|
+----+-----+

## Bài tập 2: Tạo và thao tác với DataFrame từ file CSV

a. Tạo DataFrame từ nội dung của file CSV

In [ ]:
df_ebay = spark.read.format("csv").option("header","true").load("ebay.csv")

b. Hiển thị nội dung của DataFrame ra stdout

In [ ]:
df_ebay.show()

+----------+-----+--------+--------------+----------+-------+-----+----+----------+
| auctionid|  bid| bidtime|        bidder|bidderrate|openbid|price|item|daystolive|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
|8213034705|   95|2.927373|      jake7870|         0|     95|117.5|xbox|         3|
|8213034705|  115|2.943484| davidbresler2|         1|     95|117.5|xbox|         3|
|8213034705|  100|2.951285|gladimacowgirl|        58|     95|117.5|xbox|         3|
|8213034705|117.5|2.998947|       daysrus|        10|     95|117.5|xbox|         3|
|8213060420|    2|0.065266|    donnie4814|         5|      1|  120|xbox|         3|
|8213060420|15.25|0.123218|   myreeceyboy|        52|      1|  120|xbox|         3|
|8213060420|    3|0.186539|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   10| 0.18669|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|24.99|0.187049|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   20|0.249491| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   22| 0.24956| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   24|0.249653| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   26|0.249757| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   80| 0.59059|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|   75|0.657384|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   85|0.657917|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   83|0.816447|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.005903|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.012697|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|  110|1.013056|     jhnsn2273|        51|      1|  120|xbox|         3|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
only showing top 20 rows

c. In ra stdout cấu trúc của DataFrame theo dạng cây

In [ ]:
df_ebay.printSchema()

root
 |-- auctionid: string (nullable = true)
 |-- bid: string (nullable = true)
 |-- bidtime: string (nullable = true)
 |-- bidder: string (nullable = true)
 |-- bidderrate: string (nullable = true)
 |-- openbid: string (nullable = true)
 |-- price: string (nullable = true)
 |-- item: string (nullable = true)
 |-- daystolive: string (nullable = true)

d. Đếm số cuộc đấu giá đã được tổ chức

In [ ]:
df_ebay.select("auctionid").distinct().count()

627

e. Đếm số lượng giá đấu trên mỗi mặt hàng

In [ ]:
df_ebay.groupBy("auctionid", "item").count().show()

+----------+-------+-----+
| auctionid|   item|count|
+----------+-------+-----+
|1645883276|cartier|   12|
|1641242797|cartier|    5|
|1642005995|cartier|   18|
|3020060476|   palm|   22|
|1644681469|cartier|   14|
|8212145833|   xbox|   26|
|1638844464|cartier|   16|
|3020573049|   palm|    2|
|3015632013|   palm|   28|
|3024659380|   palm|   26|
|3025373736|   palm|   15|
|8213387659|   xbox|   25|
|1643201832|cartier|    4|
|3014834745|   palm|   21|
|3020257463|   palm|   16|
|3020274575|   palm|   11|
|3019821569|   palm|   27|
|3024707992|   palm|   20|
|8212277835|   xbox|    3|
|3019326870|   palm|   33|
+----------+-------+-----+
only showing top 20 rows

f. Lọc và hiển thị tất cả những phiên đấu giá có giá đóng cửa lớn hơn 100

In [ ]:
highprice = df_ebay.filter("price > 100")
highprice.show()

+----------+-----+--------+--------------+----------+-------+-----+----+----------+
| auctionid|  bid| bidtime|        bidder|bidderrate|openbid|price|item|daystolive|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
|8213034705|   95|2.927373|      jake7870|         0|     95|117.5|xbox|         3|
|8213034705|  115|2.943484| davidbresler2|         1|     95|117.5|xbox|         3|
|8213034705|  100|2.951285|gladimacowgirl|        58|     95|117.5|xbox|         3|
|8213034705|117.5|2.998947|       daysrus|        10|     95|117.5|xbox|         3|
|8213060420|    2|0.065266|    donnie4814|         5|      1|  120|xbox|         3|
|8213060420|15.25|0.123218|   myreeceyboy|        52|      1|  120|xbox|         3|
|8213060420|    3|0.186539|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   10| 0.18669|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|24.99|0.187049|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   20|0.249491| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   22| 0.24956| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   24|0.249653| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   26|0.249757| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   80| 0.59059|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|   75|0.657384|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   85|0.657917|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   83|0.816447|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.005903|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.012697|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|  110|1.013056|     jhnsn2273|        51|      1|  120|xbox|         3|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
only showing top 20 rows

## Bài tập 3: Thao tác với DataFrame bằng ngôn ngữ SQL

a. Tạo một khung nhìn tạm (SQL temporary view) từ DataFrame df

In [ ]:
df_people.createOrReplaceTempView("people")

b. Truy vấn toàn bộ dữ liệu và hiển thị kết quả

In [ ]:
sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

c. Thực hiện lại toàn bộ các yêu cầu d, e, f, g trong Bài tập 1 bằng truy vấn
SQL trong DataFrame.

d. Đếm số cuộc đấu giá đã được tổ chức

In [ ]:
sqlDF = spark.sql("SELECT name FROM people")
sqlDF.show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

e. Hiển thị toàn bộ các cột với tất cả giá trị của cột “age” tăng thêm 1

In [ ]:
sqlDF = spark.sql("SELECT name, age + 1 FROM people")
sqlDF.show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     NULL|
|   Andy|       31|
| Justin|       20|
+-------+---------+

f. Lọc ra những người có tuổi lớn hơn 21

In [ ]:
sqlDF = spark.sql("SELECT * FROM people WHERE age > 21")
sqlDF.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

g. Đếm số người theo từng độ tuổi

In [ ]:
sqlDF = spark.sql("SELECT age, COUNT(*) AS count FROM people GROUP BY age")
sqlDF.show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|NULL|    1|
|  30|    1|
+----+-----+

## Bài tập 4: Thao tác với DataFrame bằng ngôn ngữ SQL

a. Tạo một khung nhìn tạm (SQL temporary view) từ DataFrame df

In [ ]:
df_ebay.createOrReplaceTempView("ebay")

b. Truy vấn toàn bộ dữ liệu và hiển thị kết quả

In [ ]:
sqlDF = spark.sql("SELECT * FROM ebay")
sqlDF.show()

+----------+-----+--------+--------------+----------+-------+-----+----+----------+
| auctionid|  bid| bidtime|        bidder|bidderrate|openbid|price|item|daystolive|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
|8213034705|   95|2.927373|      jake7870|         0|     95|117.5|xbox|         3|
|8213034705|  115|2.943484| davidbresler2|         1|     95|117.5|xbox|         3|
|8213034705|  100|2.951285|gladimacowgirl|        58|     95|117.5|xbox|         3|
|8213034705|117.5|2.998947|       daysrus|        10|     95|117.5|xbox|         3|
|8213060420|    2|0.065266|    donnie4814|         5|      1|  120|xbox|         3|
|8213060420|15.25|0.123218|   myreeceyboy|        52|      1|  120|xbox|         3|
|8213060420|    3|0.186539|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   10| 0.18669|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|24.99|0.187049|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   20|0.249491| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   22| 0.24956| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   24|0.249653| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   26|0.249757| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   80| 0.59059|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|   75|0.657384|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   85|0.657917|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   83|0.816447|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.005903|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.012697|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|  110|1.013056|     jhnsn2273|        51|      1|  120|xbox|         3|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
only showing top 20 rows

c. Thực hiện lại toàn bộ các yêu cầu d, e, f trong Bài tập 2 bằng truy vấn SQL
trong DataFrame.

d. Đếm số cuộc đấu giá đã được tổ chức bằng câu lệnh

In [ ]:
sqlDF = spark.sql("SELECT COUNT(DISTINCT auctionid) FROM ebay")
sqlDF.show()

+-------------------------+
|count(DISTINCT auctionid)|
+-------------------------+
|                      627|
+-------------------------+

e. Đếm số lượng giá đấu trên mỗi mặt hàng

In [ ]:
sqlDF = spark.sql("SELECT auctionid, item, COUNT(*) AS count FROM ebay GROUP BY auctionid, item")
sqlDF.show()

+----------+-------+-----+
| auctionid|   item|count|
+----------+-------+-----+
|1645883276|cartier|   12|
|1641242797|cartier|    5|
|1642005995|cartier|   18|
|3020060476|   palm|   22|
|1644681469|cartier|   14|
|8212145833|   xbox|   26|
|1638844464|cartier|   16|
|3020573049|   palm|    2|
|3015632013|   palm|   28|
|3024659380|   palm|   26|
|3025373736|   palm|   15|
|8213387659|   xbox|   25|
|1643201832|cartier|    4|
|3014834745|   palm|   21|
|3020257463|   palm|   16|
|3020274575|   palm|   11|
|3019821569|   palm|   27|
|3024707992|   palm|   20|
|8212277835|   xbox|    3|
|3019326870|   palm|   33|
+----------+-------+-----+
only showing top 20 rows

f. Lọc và hiển thị tất cả những phiên đấu giá có giá đóng cửa lớn hơn 100

In [ ]:
sqlDF = spark.sql("SELECT * FROM ebay WHERE price > 100")
sqlDF.show()

+----------+-----+--------+--------------+----------+-------+-----+----+----------+
| auctionid|  bid| bidtime|        bidder|bidderrate|openbid|price|item|daystolive|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
|8213034705|   95|2.927373|      jake7870|         0|     95|117.5|xbox|         3|
|8213034705|  115|2.943484| davidbresler2|         1|     95|117.5|xbox|         3|
|8213034705|  100|2.951285|gladimacowgirl|        58|     95|117.5|xbox|         3|
|8213034705|117.5|2.998947|       daysrus|        10|     95|117.5|xbox|         3|
|8213060420|    2|0.065266|    donnie4814|         5|      1|  120|xbox|         3|
|8213060420|15.25|0.123218|   myreeceyboy|        52|      1|  120|xbox|         3|
|8213060420|    3|0.186539|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   10| 0.18669|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|24.99|0.187049|  parakeet2004|         5|      1|  120|xbox|         3|
|8213060420|   20|0.249491| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   22| 0.24956| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   24|0.249653| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   26|0.249757| bluebubbles_1|        25|      1|  120|xbox|         3|
|8213060420|   80| 0.59059|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|   75|0.657384|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   85|0.657917|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|   83|0.816447|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.005903|        sa4741|         3|      1|  120|xbox|         3|
|8213060420|  100|1.012697|     jhnsn2273|        51|      1|  120|xbox|         3|
|8213060420|  110|1.013056|     jhnsn2273|        51|      1|  120|xbox|         3|
+----------+-----+--------+--------------+----------+-------+-----+----+----------+
only showing top 20 rows